@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #0F1624;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
#app {
  margin: 0 auto;
  font-weight: normal;
}
.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
